{{setup-dom-actions}}
<h2 id="title">ember-dom-actions</h2>

{{#tooltip-trigger action="show-tooltip"}}Tooltip Trigger 1{{/tooltip-trigger}}
{{#tooltip-trigger action="show-tooltip"}}Tooltip Trigger 2{{/tooltip-trigger}}

{{outlet}}

{{action-show-tooltip}}
